body {
    position: absolute
}
ul {
    list-style: none; ;
}
.logo {
color: black;
}
/* Add a dark-blue color focus for logo */
.logo:focus {
    color: #080545
}
.site-nav .item-1>a {
color: #2196F3;
}
/* Add a dark-blue color focus for item1 */
.site-nav .item-1 a:focus {
color: #080545
}

.site-nav a {
color: #212121;
}
/* Add hover and active dark color for nav unit */
.site-nav .item-1 .link:hover,
.site-nav .item-1 .link:active {
 color: #212121   
}
.site-nav .link:hover,
.site-nav .link:active {
color:#2196F3
}
.site-nav .link:focus {
color:#080545    
}

.aside .e-mail {
    color:#2196F3 
}
/* Add a dark-blue color focus for adittional block */
.aside .e-mail:focus {
color: #080545 
}
.aside .tel {
color: #757575
}
/*Add a dark-blue color focus for adittional block */
.aside .tel:focus {
color: #080545
}
.caption h1, h2, h3, h4 {
color: #212121; 
}
